@import '../../index.css';

.day-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 34px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  /* margin-bottom: 3rem; */
}

.day-card .weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather .condition {
  font-size: 0.9rem;
  color: var(--text-lightgray);
}

.weather h4 {
  color: var(--text-darkgray);
  font-weight: 400;
  margin-top: 1rem;
  font-size: 1.8rem;
  display: flex;
}

.weather h4 span {
  font-size: 1rem;
  margin-top: 2px;
}

.min-max {
  font-size: 0.7rem;
  color: var(--text-lightgray);
}

.right-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.day-card h3 {
  text-align: center;
  color: var(--text-darkgray);
}

.dark-theme .day-card {
  background-color: var(--dark1);
}

.dark-theme .weather .condition {
  color: var(--white2);
}

.dark-theme h3 {
  color: var(--white1);
}

.dark-theme h4 {
  color: var(--white1);
}

.dark-theme .min-max {
  color: var(--white2);
}

@media (max-width: 600px) {
  .day-card {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
  }
}
