@import '../../index.css';

.sidebar {
  position: absolute;
  width: 250px;

  right: 0;
  min-height: 100%;
  top: 0;
  /* background-color: red; */
  z-index: 99;
  transition: all 0.5s ease-in-out;
  background-color: white;
}

.sidebar.hidden {
  opacity: 0;
  right: -250px;
}
