@import './index.css';

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.search form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  align-items: center;
}

.search form input {
  text-align: center;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 25px;
  /* border: 1px solid #626976; */
  border: none;
  box-shadow: 0px 10px 34px 4px rgba(0, 0, 0, 0.1);
}

.search form input:focus {
  outline: none;
}

.search button {
  color: var(--text-darkgray);
  background-color: var(--primary-blue);
  border: none;
  color: white;
  width: 250px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;

  border-radius: 100px;
  transition: all 0.3s ease-in-out;
}

.search button:hover {
  background-color: var(--primary-bluedark);
  cursor: pointer;
}
