@import '../../index.css';

.weather-page {
  margin: 0 2rem;
}

.hourly-container {
  max-width: 800px;
  margin: 3rem auto;
  /* padding: 1rem; */
  padding-top: 1rem;

  box-shadow: 0px 10px 34px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}

.hourly-container h2 {
  font-size: 1.2rem;
  color: var(--text-lightgray);
  position: absolute;
  margin-left: 1rem;
}

.hourly-grid {
  display: flex;
  gap: 10px;
  margin: 1rem 0.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 2rem 0 1rem;
}

.loader {
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.daily-container {
  max-width: 800px;
  margin: 0 auto 3rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.dark-theme .hourly-container {
  background-color: var(--dark1);
}

.dark-theme .hourly-container h2 {
  color: var(--white1);
}

@media (max-width: 600px) {
  .daily-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .weather-page {
    margin: 0 1rem;
  }
}
